.menu {
  position: fixed;
  width: calc(100% - 62px);
  max-width: 400px;
  height: calc(100% - 132px);
  bottom: 80px;
  left: 10px;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: 1px solid var(--border-color);
  backdrop-filter: blur(20px);
  border-radius: 10px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  padding: 20px;
  z-index: 10000;
  overflow-y: hidden;
  overflow-x: hidden;
  transition: opacity 0.2s ease-out, transform 0.2s ease-out, visibility 0.2s ease-out;
}

.menu img {
  width: 36px;
  height: 36px;
  margin-right: 10px;
}

.menu.menu-hidden {
  opacity: 0;
  pointer-events: none;
  transform: translateY(20px);
  visibility: hidden;
}

.menu:not(.menu-hidden) {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
  visibility: visible;
}

.menu-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 10px;
}

.menu-content {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: calc(100% - 70px);
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 10px 0 0 0;
}

.menu li {
  padding: 0;
  cursor: pointer;
  transition: margin-left 0.2s ease, color 0.2s ease;
}

.menu li div {
  padding: 12px 0;
}

.menu li:hover {
  margin-left: 10px;
  color: var(--primary-color);
}

.menu li i {
  font-size: 2em;
  margin-right: 10px;
}

.menu-close-btn {
  width: 42px;
  height: 42px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  box-sizing: border-box;
  background: #ff2121;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
  color: black;
  line-height: 1;
  padding: 0;
  float: right;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease;
}

.menu-close-btn:hover {
  transform: scale(1.2);
}

#menu-title {
  font-size: 22px;
  font-weight: bolder;
  margin: 10px;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent !important;
  background-image: linear-gradient(100deg, rgba(39, 190, 255, 1) 20%, rgba(42, 127, 255, 1) 73%, rgba(255, 204, 0, 1) 74%);
}

.menu-header-object {
  margin-top: 50px !important;
}

.menu-data-selection {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin: 10px 0px;
}

.menu-data-selection-item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  font-size: 1em;
}

.menu-data-selection-item.active {
  font-weight: bold;
  background-color: var(--secondary-border-color);
  border: 1px solid var(--primary-color);
}

.menu-data-selection-item i {
  font-size: 1.5em;
}